@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Online school!</h1>
    <p>To join our schoo, please register an account and fill in the form!</p>
    <p>Are you already loged in? See the courses above to join them!   </a>.</p>
</div>
